:root{
    --grey1: #474747;
    --grey2: #6E6E6E;
    --grey3: #949494;
    --grey4: #E7E7E7;
  
  }

.Column{
    display: flex;
    flex-direction: column;
    max-width: 300px ;
    min-width: 300px ;
    background-color:var(--grey3);
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    max-height: 95%;
    white-space: normal;
    
}

.Container-Cards{  
  display: flex;
  flex-direction: column;
  width: 100%;
  left:0;
  right:0;
  margin: 0;
  padding: 0;
  overflow-y: scroll
  }