:root{
    --grey1: #474747;
    --grey2: #6E6E6E;
    --grey3: #949494;
    --grey4: #E7E7E7;
    --white: #FFFF;
  }

.Add{
    background-color: var(--grey2);
    display:flex;
    justify-content: center;
    margin:5px;
    height: 20px;

}

.Open{
  height: 100px;
  justify-content: flex-start;
  flex-direction: column;
}

.input{
  height: 80%;
  background-color: white;
border: none;  
}

