:root{
  --grey1: #474747;
  --grey2: #6E6E6E;
  --grey3: #949494;
  --grey4: #E7E7E7;
  --white: #FFFF;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html{background-color: var(--grey4);
}

h1{
  margin:0;
}

p{
  margin:0
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  height: 90vh;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey3);
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
}

.header__user{
  display: flex;
  justify-content: space-around;
  width: 20%;

}

.ColumnContainer{
  padding-top: 10px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  overflow-x: scroll;
  
}




